# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
!/src/Libraries/fontawesomefx-8.9.jar
!/src/Libraries/jfoenix-8.0.1.jar
!/src/Libraries/commons-codec-1.9.jar
!/src/Libraries/mysql-connector-java-5.1.45-bin.jar
!/src/Libraries/httpclient-4.5.3.jar
!/src/Libraries/servlet-api-2.5.jar
!/src/Libraries/httpmime-4.0.jar
!/src/Libraries/httpmime-4.5.5.jar
!/src/Libraries/apache-httpcomponents-httpcore.jar
!/src/Libraries/httpmime-4.3.1.jar
!/src/Libraries/apache-mime4j-0.6.1.jar
!/src/Libraries/httpcore-4.4.6.jar
!/src/Libraries/backendless.jar
!/src/Libraries/cloudinary-http44-1.17.0.jar
!/src/Libraries/commons-logging-1.2.jar
!/src/Libraries/httpclient-cache-4.5.3.jar
!/src/Libraries/httpclient-4.5.3_1.jar
!/src/Libraries/cloudinary-core-1.17.0.jar